In [25]:
#import libraries
import pandas as pd
import numpy as np
import os

In [26]:
#create path
path = r'C:\Users\erosb\09-2023 Boat Sales Analysis'

In [27]:
#load data as frames
df = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'boat_dataset.csv'), index_col=False)

In [28]:
df.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [29]:
df.columns

Index(['Price', 'Boat Type', 'Manufacturer', 'Type', 'Year Built', 'Length',
       'Width', 'Material', 'Location', 'Number of views last 7 days'],
      dtype='object')

'Type' is confusing since there is already a boat type category. We will change the name to 'Short Description'

In [30]:
df = df.rename(columns={'Type': 'Short Description'})

In [31]:
#check
df.columns

Index(['Price', 'Boat Type', 'Manufacturer', 'Short Description', 'Year Built',
       'Length', 'Width', 'Material', 'Location',
       'Number of views last 7 days'],
      dtype='object')

In [32]:
#look for missing values
df.isnull().any()

Price                          False
Boat Type                      False
Manufacturer                    True
Short Description               True
Year Built                     False
Length                          True
Width                           True
Material                        True
Location                        True
Number of views last 7 days    False
dtype: bool

In [33]:
df.isnull().sum()

Price                             0
Boat Type                         0
Manufacturer                   1338
Short Description                 6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Location                         36
Number of views last 7 days       0
dtype: int64

Missing values for all these categories cannot be inputted. Location is a key variable for this analysis, so since the number of rows with missing location is so small, these entries will be removed.

In [34]:
df.dropna(subset=['Location'], inplace=True)

In [35]:
#check
df.isnull().sum()

Price                             0
Boat Type                         0
Manufacturer                   1331
Short Description                 6
Year Built                        0
Length                            9
Width                            56
Material                       1749
Location                          0
Number of views last 7 days       0
dtype: int64

In [36]:
df.shape

(9852, 10)

In [37]:
#check data types
df.dtypes

Price                           object
Boat Type                       object
Manufacturer                    object
Short Description               object
Year Built                       int64
Length                         float64
Width                          float64
Material                        object
Location                        object
Number of views last 7 days      int64
dtype: object

In [38]:
#find duplicates
df[df.duplicated()]

Empty DataFrame
Columns: [Price, Boat Type, Manufacturer, Short Description, Year Built, Length, Width, Material, Location, Number of views last 7 days]
Index: []

No duplicates.

In [44]:
#unknown year built
df.loc[0, 'Year Built']

2017

#### Descriptive statistics

In [46]:
#year built
df['Year Built'].describe()

count    9852.000000
mean     1892.782481
std       460.991432
min         0.000000
25%      1996.000000
50%      2007.000000
75%      2017.000000
max      2021.000000
Name: Year Built, dtype: float64

In [50]:
#exclude unknown year builts
df_yr_known = df[df['Year Built'] != 0]

In [52]:
df_yr_known['Year Built'].describe()

count    9301.000000
mean     2004.912698
std        16.384805
min      1885.000000
25%      1999.000000
50%      2008.000000
75%      2018.000000
max      2021.000000
Name: Year Built, dtype: float64

In [54]:
#length
df['Length'].describe()

count    9843.000000
mean       11.536811
std         5.972986
min         1.040000
25%         7.455000
50%        10.220000
75%        13.900000
max       100.000000
Name: Length, dtype: float64

In [55]:
#number of views
df['Number of views last 7 days'].describe()

count    9852.000000
mean      149.416971
std       152.025334
min        13.000000
25%        70.000000
50%       108.000000
75%       172.000000
max      3263.000000
Name: Number of views last 7 days, dtype: float64

In [59]:
#export
df.to_csv(os.path.join(path, 'Data', 'Prepared Data', 'boats_cleaned.csv'), index=False)