In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\erosb\09-2023 Boat Sales Analysis'

In [3]:
df = pd.read_csv(os.path.join(path, 'Data', 'Prepared Data', 'boats_cleaned.csv'))

In [4]:
df.head()

,Price,Boat Type,Manufacturer,Short Description,Year Built,Length,Width,Material,Location,Country,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,Switzerland,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,Germany,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,Switzerland,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,Denmark,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,Germany,58

#### Currency Conversion

In [5]:
#derive Price_type column
s = df.Price.str.split()

In [6]:
df['Price_type'] = s.str[0]

In [7]:
df['Price_type'].value_counts()

EUR    8397
CHF     980
Â£      295
DKK     180
Name: Price_type, dtype: int64

Euro is the most common price type, so all prices will be converted to euro.

In [8]:
#derive Price-num column
df['Price_num'] = s.str[1]

In [9]:
df.head()

,Price,Boat Type,Manufacturer,Short Description,Year Built,Length,Width,Material,Location,Country,Number of views last 7 days,Price_type,Price_num
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,Switzerland,226,CHF,3337
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,Germany,75,EUR,3490
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,Switzerland,124,CHF,3770
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,Denmark,64,DKK,25900
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,Germany,58,EUR,3399

In [10]:
df.dtypes

Price                           object
Boat Type                       object
Manufacturer                    object
Short Description               object
Year Built                       int64
Length                         float64
Width                          float64
Material                        object
Location                        object
Country                         object
Number of views last 7 days      int64
Price_type                      object
Price_num                       object
dtype: object

In [11]:
#convert price_num to int
df['Price_num']=pd.to_numeric(df['Price_num'])

In [12]:
df.dtypes

Price                           object
Boat Type                       object
Manufacturer                    object
Short Description               object
Year Built                       int64
Length                         float64
Width                          float64
Material                        object
Location                        object
Country                         object
Number of views last 7 days      int64
Price_type                      object
Price_num                        int64
dtype: object

Success

In [23]:
def currency_conversion(df):
    if df[0] == ('CHF'):
        return round((df[1])*(1.04691), 2)
    elif df[0]=='DKK':
        return round((df[1])*(.134166), 2)
    elif df[0]=='Â£':
        return round((df[1])*(1.16217), 2)
    else:
        return df[1]

In [24]:
df['Price_adjusted'] = df[['Price_type','Price_num']].apply(currency_conversion, axis=1)

In [25]:
df.head()

,Price,Boat Type,Manufacturer,Short Description,Year Built,Length,Width,Material,Location,Country,Number of views last 7 days,Price_type,Price_num,Price_adjusted
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,Switzerland,226,CHF,3337,3493.54
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,Germany,75,EUR,3490,3490.00
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,Switzerland,124,CHF,3770,3946.85
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,Denmark,64,DKK,25900,3474.90
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,Germany,58,EUR,3399,3399.00

Success.

#### ACBS Boat Classifications

In [57]:
def boat_classification(df):
    if df in range(1885, 1919):
        return 'Historic'
    elif df in range(1919, 1943):
        return 'Antique'
    elif df in range(1943, 1976):
        return 'Classic'
    elif df in range(1976, 1998):
        return 'Late Classic'
    elif df in range(1998, 2024):
        return 'Contemporary'
    else:
        return 'Unknown'

In [65]:
df['Age_Classification'] = df['Year Built'].apply(boat_classification)

In [67]:
df['Age_Classification'].value_counts()

Contemporary    7184
Late Classic    1692
Unknown          551
Classic          304
Antique           71
Historic          50
Name: Age_Classification, dtype: int64

Success

In [66]:
df.head()

,Price,Boat Type,Manufacturer,Short Description,Year Built,Length,Width,Material,Location,Country,Number of views last 7 days,Price_type,Price_num,Price_adjusted,Age_Classification
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,Switzerland,226,CHF,3337,3493.54,Contemporary
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,Germany,75,EUR,3490,3490.00,Contemporary
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,Switzerland,124,CHF,3770,3946.85,Unknown
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,Denmark,64,DKK,25900,3474.90,Contemporary
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,Germany,58,EUR,3399,3399.00,Contemporary

#### Boat size classification

In [68]:
#smallest to biggest: A, 1, 2, 3
def size_classification(df):
    if df < 5:
        return 'Class A'
    elif df <= 7.9:
        return 'Class 1'
    elif df <= 12.2:
        return 'Class 2'
    elif df <= 19.8:
        return 'Class 3'
    elif df <= 80:
        return 'Superyacht'
    elif df <= 100:
        return 'Megayacht'
    else:
        return 'Unknown'

In [69]:
df['Size_Classification'] = df['Length'].apply(size_classification)

In [72]:
df['Size_Classification'].value_counts()

Class 2       3492
Class 1       2689
Class 3       2575
Superyacht     816
Class A        268
Unknown          9
Megayacht        3
Name: Size_Classification, dtype: int64

In [75]:
#export
df.to_csv(os.path.join(path, 'Data', 'Prepared Data', 'boats_wrangled.csv'), index=False)